/* 
 global css
*/

/*  글씨체 */

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/Pretendard-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa-Han-Sans';
  src: url('./fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Spoqa-Han-Sans';
  src: url('./fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa-Han-Sans';
  src: url('./fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, 'Spoqa-Han-Sans', 'Pretendard', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color : transparent;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    transition: background-color 0.85s;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}