#swiper-plays.swiper {
  width: 50vw;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#swiper-plays .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 12rem;
  height: 18rem;
  margin: 0 2.5rem;
}

#swiper-plays .swiper-slide img {
  display: block;
  width: 100%;
}

:root {
  --swiper-theme-color: white;
}